@import "variables";

html, body {
  @extend %default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0 auto;
  padding:0;
  height:100%;
}

h3 {
  text-align: center;
  margin: 30px 0;
}

a {
  color: $accent-color;

  &:hover {
    color: $accent-color;
    text-decoration: underline;
  }

  &:visited {
    color: $accent-color;
  }
}

.bldr-h4 {
  margin: 30px auto 60px;
  text-align: center;
}

form.form-horizontal {
  max-width: 620px;
  padding: 40px 80px;
  background-color: $bg-light;
  margin: 30px auto 60px;

  .btn-default {
    background-color: $accent-color;
    color: #FFF;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}



.content-wrapper {
  min-height:100%;
  position:relative;

  .view-wrapper {
    padding-bottom:130px; /* Height of the footer element */

    .special-word {
      color: $accent-color;
    }

    .btn-default {
      background-color: $accent-color;
      color: #FFF;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
