@import "variables";

html, body {
  @extend %default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  text-align: center;
  margin: 30px 0;
}

a {
  color: $accent-color;

  &:hover {
    color: $accent-color;
    text-decoration: underline;
  }

  &:visited {
    color: $accent-color;
  }
}
