@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);

/* Specify colors */
$main-color: #333;
$accent-color: #ff6600;
$bg-light: #f2f2f2;
$navbar-color: #555;
$navbar-active-color: #333;
$light-gray: #777;

/* Media queries */
$mq-phone: "only screen and (max-width: 480px)";
$mq-tablet: "only screen and (max-width: 768px)";
$mq-desktop-small: "only screen and (max-width : 992px)";
$mq-desktop-large: "only screen and (min-width : 1200px)";

/* Placeholders */
%default-font {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

%navbar-brand-font {
  font-size: 32px;
  color: $main-color;
}

%navbar-nav-font {
  font-size: 18px;
  color: $navbar-color;
}

%footer-font {
  font-size: 14px;
}

%text-button-font {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

/* Mixins */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition( $val : ease 0.5s ) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}
