@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);

/* Specify fonts */
%default-font {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

%navbar-brand-font {
  font-size: 32px;
  color: #000;
}

/* Specify colors */
$main-color: black;
$navbar-color: #e6e6e6;
