@import "variables";

.contact {

  .contact-message {
    margin: 0 auto 60px;
    text-align: center;
  }

  form.form-horizontal {
    max-width: 520px;
    margin: 30px auto 60px;

    .btn-default {
      background-color: $accent-color;
      color: #FFF;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
