@import "variables";

.contact-wrapper {

  .social-media {
    text-align: center;
    margin-bottom: 90px;
    .social-icon {
      display: inline-block;
      margin-right: 45px;

        .social-svg {
          @include transition(ease-in-out 0.1s);
          &:hover {
            fill: $accent-color;
          }
        }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .message-area {
    text-align: center;
    margin-top: -10px;
  }

}

@media #{$mq-phone} {
  .contact-wrapper {
    .contact-form {
      form.form-horizontal {
        padding: 15px 30px;
      }
    }
  }
}
