@import "variables";

.create-program-wrapper {
  text-align: center;
  margin-bottom: 120px;

  .goal-wrapper {
    margin-bottom: 30px;
    .goal-type {
      padding: 20px;
      cursor: pointer;
      border: 10px solid transparent;

      &:hover {
        .goal-image-wrapper {
          .goal-image {
            top: -10px;

          }

          .muscle-image {
            height: 190px;
          }

          .strength-image, .scale-image {
            height: 160px;
          }
        }
      }

      &.selected {
        @include border-radius(0);
        border: 10px solid rgba(255, 102, 0, 0.7);
      }

      .goal-image-wrapper {
        height: 170px;
        position: relative;
        .goal-image {
          @include transition(ease-in-out 0.2s);
          top: 0;
          height: 170px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
        }

        .strength-image, .scale-image {
          height: 140px;
          margin-bottom: 30px;
        }
      }

      .goal-text {
        text-align: center;
      }
    }
  }

  #error-message {
    display: inline-block;
  }

  .make-selection-button-wrapper {
    margin-top: 30px;
  }

  /* Styles for Exercises-section */
  .exercises-wrapper {
    .btn-create {
      text-align: left;
    }
  }


}

.program-table-wrapper {
  max-width: 720px;
  margin: 0 auto 90px;

  .program-table {
    width: 720px;
    margin: 0 auto 30px;
    background-color: $bg-light;
    padding: 15px;

    .program-table-goal {
      display: inline-block;
      text-align: left;
      text-transform: capitalize;
      font-weight: bold;
    }

    .btn-delete {
      float: right;
    }
    table {
      margin:0 auto 15px;
    }

  }
}

