/*!
 * index.scss - styling for homepage
 */

@import "variables";

.punchline-wrapper {
  background-color: $bg-light;
  margin: 30px 0 60px;

  .punchline-item {
    text-align: center;

    .pl-image {
      height: 170px;
      margin: 40px auto 30px;
    }

    .pl-underline {
      &:after {
        content: '';
        display: block;
        margin: 50px auto 30px;
        width: 60px;
        height: 5px;
        background: $accent-color;
      }
    }

    .pl-bottom-wrapper {
      margin-bottom: 30px;
      .pl-number {
        display: inline-block;
        font-size: 32px;
        margin-right: 15px;
      }

      .pl-text {
        display: inline-block;
        font-size: 26px;
      }
    }
  }
}

.start-now-wrapper {
  text-align: center;
  margin-bottom: 60px;

  .text-button {
    @include transition();
    @extend %text-button-font;
    display: inline-block;
    text-align: center;
    padding: 15px 40px;
    border: 2px solid $accent-color;

    &:hover {
      color: white;
      background-color: $accent-color;
      opacity: 0.85;
    }
  }
}

.get-started {
  margin-bottom: 60px;
}
