@import "variables";

.login-wrapper {

  .error {
    text-align: center;
    margin: 60px auto 60px;
  }

  form.form-horizontal {
    margin: 60px auto 120px;

    .form-group {
      label {
        display: inline-block;
      }
    }

    .btn-default {
      background-color: $accent-color;
      color: #FFF;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
