@import "variables";

.navbar-default {
  background-color: transparent;
  border: none;

  .navbar-nav {
    @extend %navbar-nav-font;
    & > {

      li {
        a {
          &:hover {
            color: $accent-color;
          }
        }
      }

      li.active {
        a {
          background-color: transparent;

          &:hover {
            color: $accent-color;
            background-color: transparent;
          }
        }

        &:after {
          content: '';
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 3px;
          background: $accent-color;
        }
      }
    }
  }
}

.navbar{
  padding: 30px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid $light-gray;
  border-radius: 0;
  .navbar-header {

    img.site-logo {
      height: 33px;
      margin: 10px;
    }
    .navbar-brand {
      @extend %navbar-brand-font;
    }

    #navbar {
      ul.nav.navbar-nav {
      }
    }
  }
}

@media #{$mq-tablet} {
  .navbar-default {

    .navbar-toggle {
      @include border-radius(0);
      border-color: $main-color;

      &:focus, &:hover {
        background-color: transparent;

        .icon-bar {
          background-color: $accent-color;
        }
      }

      .icon-bar {
        background-color: $main-color;
      }
    }

    .navbar-nav {
      & > {

        li {
          a {
            &:hover {
              color: $accent-color;
            }
          }
        }

        li.active {
          a {
            background-color: transparent;
            color: $accent-color;

            &:hover {
              color: $accent-color;
              background-color: transparent;
            }
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}
