@import "variables";

.programs-wrapper {

  .program-tables-wrapper {
    width: 720px;
    margin:0 auto;

    .current-programs {
      margin-bottom: 30px;
      display: inline-block;
    }
    .btn-default {
      display: inline-block;
      float: right;
      margin-right: 15px;
    }

    .program-wrapper {
      background-color: $bg-light;
      padding: 15px;
      margin-bottom: 45px;
      .program-table-goal {
        display: inline-block;
        text-align: left;
        text-transform: capitalize;
        font-weight: bold;
      }

      .btn-delete {
        float: right;
      }
      table {
        margin:0 auto 15px;
      }
    }
  }

  h4.create-new {
    margin-bottom: 90px;
  }
}
