@import "variables";
@import "../bower_components/OwlCarousel/owl-carousel/owl.carousel.css";
//@import "../bower_components/OwlCarousel/owl-carousel/owl.theme.css";

#clients {
  margin-bottom: 60px;
  .client {
    margin: 0 auto;
    position: relative;
    height: 250px;
    max-width: 730px;
    background-color: $bg-light;

    .client-image  {
      @include vertical-align;
      @include border-radius(50%);
      position: absolute;
      display: inline-block;
      width: 128px;
      margin-left: 45px;
    }

    .client-text {
      @include vertical-align();
      display: inline-block;
      left: 200px;

      .client-testimonial {
        display: block;
        font-size: 18px;
        max-width: 470px;
        margin-bottom: 8px;
        font-weight: 100;
        font-style: italic;
      }

      .client-name {
        display: block;
        font-size: 20px;
      }
    }
  }
}

/* Owl carousel styles */

.owl-theme {
  .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: relative;

    .owl-buttons {
      position: relative;

      .owl-prev {
        position: absolute;
        left: 14%;
        top: -195px;
      }

      .owl-next {
        position: absolute;
        right: 14%;
        top: -195px;
      }
    }

    .owl-buttons div {
      color: $accent-color;
      display: inline-block;
      zoom: 1;
      *display: inline;/*IE7 life-saver */
      margin: 5px;
      padding: 3px 10px;
      font-size: 32px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      //background: $accent-color;
      filter: Alpha(Opacity=50);/*IE7 fix*/
      opacity: 0.5;

      &:hover {
        filter: Alpha(Opacity=100);/*IE7 fix*/
        opacity: 1;
        text-decoration: none;
      }
    }

    .owl-page {
      display: inline-block;
      zoom: 1;
      *display: inline;/*IE7 life-saver */

      span {
        display: block;
        width: 14px;
        height: 14px;
        margin: 5px 7px;
        filter: Alpha(Opacity=50);/*IE7 fix*/
        opacity: 0.5;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: $accent-color;
      }
    }
  }
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

// Fix controls in mobile view
@media only screen and (max-width : 1200px) {
  .owl-theme {
    .owl-controls {
      .owl-buttons {
        .owl-prev {
          left: 0;
        }
        .owl-next {
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  #clients {
    .client {
      .client-image {
        display: block;
      }
      .client-text {
        .client-testimonial {
          display: block;
          max-width: 370px;
        }
      }
    }
  }
}

