extends layout

block content
  .contact-wrapper
    h4.bldr-h4 Didn't find what you were looking for? Send us a message and we'll get back to you soon.

    .contact-form
      form(role="form", class="form-horizontal")

        .form-group
          label(for="name", class="control-label col-sm-3") Name:
          .col-sm-9
            input(type="text", id=name, class="form-control")

        .form-group
          label(for="email", class="control-label col-sm-3") E-mail:
          .col-sm-9
            input(type="email", id=email, class="form-control")

        .form-group
          label(for="subject", class="control-label col-sm-3") Subject:
          .col-sm-9
            input(type="text", id=subject, class="form-control")

        .form-group
          label(for="message", class="control-label col-sm-3") Message:
          .col-sm-9
            textarea(rows="7", id=message, class="form-control")
        .form-group
          .col-sm-offset-3.col-sm-9
            button(type="submit", class="btn btn-default") Send

    .social-media
      h3.bldr-h4 Or find us in social media

      .social-icon.facebook
        a(href="http://www.facebook.com", target="_blank")
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 49.652 49.652"><path class="social-svg" d="M24.826 0C11.136 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.136 38.516 0 24.826 0zM31 25.7h-4.04v14.396h-5.984V25.7H18.13v-5.088h2.846v-3.29c0-2.358 1.12-6.04 6.04-6.04l4.435.016v4.94h-3.218c-.524 0-1.27.26-1.27 1.385v2.99h4.56L31 25.7z" fill="#707070"/></svg>

      .social-icon.twitter
        a(href="http://www.twitter.com", target="_blank")
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 49.652 49.652"><path class="social-svg" d="M24.826 0C11.136 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.136 38.516 0 24.826 0zM35.9 19.144c.012.246.018.494.018.742 0 7.55-5.746 16.255-16.26 16.255-3.226 0-6.23-.942-8.758-2.564.447.053.902.08 1.363.08 2.678 0 5.14-.914 7.097-2.446a5.72 5.72 0 0 1-5.338-3.97 5.76 5.76 0 0 0 2.58-.095 5.715 5.715 0 0 1-4.583-5.603v-.072a5.69 5.69 0 0 0 2.587.714 5.71 5.71 0 0 1-2.54-4.755c0-1.05.28-2.03.772-2.875a16.225 16.225 0 0 0 11.776 5.972 5.707 5.707 0 0 1-.147-1.303 5.714 5.714 0 0 1 9.883-3.91 11.406 11.406 0 0 0 3.63-1.387 5.74 5.74 0 0 1-2.516 3.162 11.36 11.36 0 0 0 3.282-.9 11.494 11.494 0 0 1-2.85 2.954z" fill="#707070"/></svg>
      .social-icon.instagram
        a(href="http://www.instagram.com", target="_blank")
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 49.652 49.652"><g class="social-svg" fill="#707070"><path class="social-svg" d="M24.825 29.796c2.74 0 4.972-2.23 4.972-4.97 0-1.082-.354-2.08-.94-2.897a4.964 4.964 0 0 0-4.03-2.074c-1.658 0-3.125.82-4.03 2.072a4.947 4.947 0 0 0-.94 2.897 4.973 4.973 0 0 0 4.968 4.97zM35.678 18.746V13.96l-.623.002-4.164.013.017 4.787z"/><path d="M24.826 0C11.136 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.136 38.516 0 24.826 0zm14.12 21.93v11.56a5.463 5.463 0 0 1-5.458 5.457H16.164a5.462 5.462 0 0 1-5.457-5.458V16.164a5.462 5.462 0 0 1 5.457-5.457h17.323a5.463 5.463 0 0 1 5.458 5.457v5.764z"/><path d="M32.55 24.826c0 4.257-3.465 7.723-7.724 7.723-4.26 0-7.722-3.467-7.722-7.724a7.67 7.67 0 0 1 .568-2.897h-4.215v11.56a2.706 2.706 0 0 0 2.706 2.703h17.323c1.49 0 2.706-1.21 2.706-2.704V21.93h-4.217c.367.893.574 1.872.574 2.896z"/></g></svg>
