extends layout

block content

  .create-program-wrapper
    .row
      h3.select-goal Choose your goal

      .goal-wrapper.col-lg-4.col-sm-12
        .goal-type.muscle
          h3.goal-title Muscle
          .goal-image-wrapper
            img(src="../images/muscle.svg").goal-image.muscle-image.img-responsive
          p.goal-text Build more muscle!

      .goal-wrapper.col-lg-4.col-sm-12
        .goal-type.strength
          h3.goal-title Strength
          .goal-image-wrapper
            img(src="../images/strength.svg").goal-image.strength-image.img-responsive
          p.goal-text Become stronger

      .goal-wrapper.col-lg-4.col-sm-12
        .goal-type.weight-loss
          h3.goal-title Weight Loss
          .goal-image-wrapper
            img(src="../images/scale.svg").goal-image.scale-image.img-responsive
          p.goal-text Lose weight

    h4#error-message.alert.alert-danger.hidden You must make a selection to continue

    .make-selection-button-wrapper
      button#make-selection-button.btn.btn-default.disabled(onclick="makeSelection()") Next

  script.
    var selection = "";
    var nextBtn = document.getElementById('make-selection-button');
    var errorMsg = document.getElementById('error-message');

    /**
     * Anonymous function fired on page load to add click event listeners to goal types.
     * The event handler removes class 'selected' from all goal types and then
     * adds class 'selected' to a clicked goal type.
     * Button 'next' is enabled once a selection is made and a string of the selected type is passed
     */
    (function () {
      var elements = document.getElementsByClassName('goal-type');
      for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('click', function () {
          for (var j = 0; j < elements.length; j++) {
            elements[j].classList.remove('selected');
          }
          this.classList.add('selected');
          if (this.classList.contains('muscle'))
            enableButton('muscle');
          else if (this.classList.contains('strength'))
            enableButton('strength');
          else if (this.classList.contains('weight-loss'))
            enableButton('weight loss');
          else
            selection = "";
        })
      }
    })();

    /**
     * Anonymous function fired on page load to check if the user came back from next phase
     * If the user came back from next phase, set the selection they made as selected
     * Otherwise, do nothing.
     */
    (function() {
      var referrer = document.referrer.toString();

      // Check if the user came back from next section
      // If so, set the selection they made
      // Else, no selection is made
      if (referrer.indexOf('/create-2') !== -1) {

        // Set up variables
        var selectionFromNext = localStorage.getItem("selectionFromNext");
        var selectionClassName = selectionFromNext;
        var elements = document.getElementsByClassName('goal-type');

        // Validate that selection contains data
        if (selectionFromNext !== "") {

          // Set the class name right for weight loss
          if (selectionFromNext === "weight loss") {
            selectionClassName = "weight-loss";
          }

          // Go through the elements and add selection to appropriate item
          for (var i = 0; i < elements.length; i++) {
            if (elements[i].classList.contains(selectionClassName)) {
              elements[i].classList.add('selected');
              enableButton(selectionFromNext);
            }
          }

        }

      }
    })();

    /**
     * Utility function to ensure a selection having been made.
     * Sets the parameter string into a variable for the next phase.
     * Enables the button by removing 'disabled' class.
     * Removes any errors on the page
     *
     * @param selectedGoal String
     */
    function enableButton(selectedGoal) {
      selection = selectedGoal;
      nextBtn.classList.remove('disabled');
      errorMsg.classList.add('hidden');
    }

    /**
     * Function fired when the 'next' button is clicked.
     * Checks if there are errors (user hasn't made a selection)
     * If so, shows the error.
     * Else, posts the selection
     */
    function makeSelection() {
      if (nextBtn.classList.contains('disabled')) {
        errorMsg.classList.remove('hidden');
      } else {
        postSelection('/programs/create', {selection: selection});
      }
    }






