div#footer
  .copyright-info
    p &copy; 2016 Samu Karjalainen
    p Icons made by #[a(target="_blank", href="http://www.flaticon.com/authors/freepik") Freepik] from #[a(target="_blank", href="http://www.flaticon.com/") flaticon] are licensed by CC BY 3.0


