doctype html
html(lang='en')
  include header

  body
    .container
      include navbar

    .container
      block content

    .container
      include footer

  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
