doctype html
html(lang='en')
  include header

  body
    .content-wrapper
      .view-wrapper
        .container
          // Include navbar according to the user's login status
          if (user)
            include navbar
          else
            include navbar-not-logged-in

        // The active page content is shown in this container
        .container
          block content

      .container
        include footer

  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
  script(src="bower_components/OwlCarousel/owl-carousel/owl.carousel.min.js")
  script(src="js/main.js")
