extends layout

block content
  .login-wrapper
    h4.bldr-h4 Input your e-mail and password to login.

    if error
      h4.bldr-h4= error

    form(name="login", class="form-horizontal", method="POST", action="/login", enctype="application/x-www-form-urlencoded")

      .form-group
        label(for="email", class="control-label col-sm-2") E-mail:
        .col-sm-10
          input(name="email", type="email", id=email, class="form-control")

      .form-group
        label(for="password", class="control-label col-sm-2") Password:
        .col-sm-10
          input(name="password", type="password", id=password, class="form-control")

      .form-group
        .col-sm-offset-2.col-sm-10
          button(type="submit", class="btn btn-default") Login
